@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello World from .Net 6</h1>
    <p>Learn about <a href="https://api//f0e3f508-f1ac-4477-b880-c67d4517c4e7/APIAuth">building Web apps with ASP.NET Core</a>.</p>
    <hr />
    <div>Host operating system: @Model.OSVersion</div>
</div>
